.loginForm {
    margin: auto;
    width: 50%;
}

h1 {
    margin: auto;
    width: 50%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

input[type=submit] {
    background-color: #1e98d1;
    border: none;
    border-radius: 12px;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }