#saveAndCancelCont {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}
#saveAndCancelCont > div {
    padding: 10px;
}

.contentContainer{
    padding: 15px;
}

#addFileButton{
    margin-right: 10px;
}

#cancelButton:hover, #saveButton:hover {
    cursor: pointer;
}